#button-id-11- { margin: unset; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(35, 35, 35); border-radius: 100px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; min-height: auto; padding: 14px 32px; }

#button-id-11-:active, #button-id-11-.active { color: rgb(255, 255, 255) !important; background-color: rgb(51, 51, 51) !important; }

#button-id-11-:hover, #button-id-11-.hover { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }

#button-id-25- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 500; font-style: normal; padding: 8px 0px; }

#button-id-25-:active, #button-id-25-.active { color: rgb(0, 0, 0) !important; }

#button-id-25-:hover, #button-id-25-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-37- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 500; font-style: normal; padding: 8px 0px; }

#button-id-37-:active, #button-id-37-.active { color: rgb(0, 0, 0) !important; }

#button-id-37-:hover, #button-id-37-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-39- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 500; font-style: normal; padding: 8px 0px; }

#button-id-39-:active, #button-id-39-.active { color: rgb(0, 0, 0) !important; }

#button-id-39-:hover, #button-id-39-.hover { color: rgba(0, 0, 0, 0.5); }

#button-id-41- { margin: unset; color: rgb(0, 0, 0); font-size: 16px; border-radius: 4px; background-color: rgba(255, 255, 255, 0); min-height: 18px; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 500; font-style: normal; padding: 8px 0px; }

#button-id-41-:active, #button-id-41-.active { color: rgb(0, 0, 0) !important; }

#button-id-41-:hover, #button-id-41-.hover { color: rgba(0, 0, 0, 0.5); }

#container-id-0- { margin: unset; min-height: 66px;
  width: 100%; justify-content: center; background-color: rgba(238, 238, 238, 0); padding: 120px 80px; left: 0px; top: 0px; flex-direction: row; }

#container-id-0- > * { max-width: 100%; }

#container-id-10- { margin: unset; background-color: rgb(238, 238, 238); width: 262px; min-height: 200px; left: 0px; flex-direction: row; }

#container-id-10- > * { max-width: 100%; }

#container-id-12- { margin: unset; background-color: rgb(238, 238, 238); width: 262px; min-height: 200px; left: 0px; flex-direction: row; }

#container-id-12- > * { max-width: 100%; }

#container-id-18- { margin: unset; background-color: rgb(238, 238, 238); width: 262px; min-height: 200px; left: 0px; flex-direction: row; }

#container-id-18- > * { max-width: 100%; }

#container-id-19- { margin: unset; background-color: rgb(238, 238, 238); width: 262px; min-height: 200px; flex-direction: row; }

#container-id-19- > * { max-width: 100%; }

#container-id-2- { margin: unset;
  width: 100%; background-color: rgba(238, 238, 238, 0); flex-direction: column; align-items: flex-start; justify-content: flex-start; min-height: auto; padding: 24px 80px; left: 0px; top: 0px; }

#container-id-2- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 24px !important; }

#container-id-2- > :last-child, #container-id-2- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-21- { margin: unset; width: 100%; min-height: 188px; background-color: rgba(238, 238, 238, 0); padding: 0px; flex-direction: row; }

#container-id-21- > * { max-width: 100%; margin-right: 20px !important; margin-bottom: 0px !important; }

#container-id-21- > :last-child, #container-id-21- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-3- { background-color: rgba(0, 0, 0, 0); padding: 40px 80px; flex-direction: column; align-items: center; justify-content: flex-start; }

#container-id-3- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 32px !important; }

#container-id-3- > :last-child, #container-id-3- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-4- { margin: unset;
  width: 100%; background-color: rgba(238, 238, 238, 0); min-height: 40px; left: 0px; top: 0px; flex-direction: row; }

#container-id-4- > * { max-width: 100%; }

#container-id-43- { margin: unset; width: unset; min-height: auto; background-color: rgba(238, 238, 238, 0); align-items: center; flex-direction: row; }

#container-id-43- > * { max-width: 100%; margin-right: 48px !important; margin-bottom: 0px !important; }

#container-id-43- > :last-child, #container-id-43- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-5- { padding: 0px 80px; justify-content: space-between; align-items: center; background-color: rgba(0, 0, 0, 0); flex-direction: row; }

#container-id-5- > * { max-width: 100%; }

#container-id-7- { margin: unset; width: 100%; min-height: 188px; background-color: rgba(238, 238, 238, 0); padding: 0px; flex-direction: row; }

#container-id-7- > * { max-width: 100%; margin-right: 20px !important; margin-bottom: 0px !important; }

#container-id-7- > :last-child, #container-id-7- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-8- { margin: unset; background-color: rgb(238, 238, 238); width: 262px; min-height: 200px; left: 0px; flex-direction: row; }

#container-id-8- > * { max-width: 100%; }

#content-container { flex-direction: column; align-items: flex-start; justify-content: flex-start; }

#content-container > * { max-width: 100%; margin-right: 0px !important; }

#content-container > :last-child, #content-container > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#element-id-5- { width: 100%; }

#image-id-4- { margin: unset; background-color: rgb(221, 221, 221); border-radius: 100px; width: 128px; min-height: auto; }

#menu-id-0- { margin: unset; width: 100%; min-height: 100px; background-color: rgb(255, 255, 255); }

#menu-id-0- > * { max-width: 1320px; }

#section-id-2- { margin: unset; min-height: 100px; background-color: rgba(221, 221, 221, 0); top: 0px;
  width: 100%; }

#section-id-2- > * { max-width: 1320px; }

#text-id-10- { margin: unset; background-color: rgba(0, 0, 0, 0); text-align: center; font-weight: 400; font-style: normal; font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; line-height: 21.6px; font-size: 18px; letter-spacing: -0.3px; }

#text-id-6- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; line-height: 26.4px; font-size: 22px; font-weight: 500; font-style: normal; letter-spacing: -0.4px; left: 443px; top: -4px; }

#text-id-60- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: rgb(146, 146, 146); letter-spacing: 0px; line-height: 15.75px; font-size: 14px; font-weight: 500; font-style: normal; }

#text-id-8- { margin: unset; background-color: rgba(0, 0, 0, 0); font-family: poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; text-align: center; letter-spacing: -0.923077px; font-size: 48px; width: 601px; font-weight: 600; font-style: normal; line-height: 58px; }
  #root-container {
    background-position: center center;
  }

@media (min-width:1025px) {#container-id-2- { display: none; }

#container-id-21- > * { flex-grow: 1; }

#container-id-7- > * { flex-grow: 1; }

#content-container { display: flex; }}

@media (min-width:561px) and (max-width:1024px) {#container-id-0- { padding: 80px 64px; left: 0px; flex-direction: row; }

#container-id-0- > * { max-width: 100%; }

#container-id-10- { left: 0px; flex-direction: row; }

#container-id-10- > * { max-width: 100%; }

#container-id-12- { left: 0px; flex-direction: row; }

#container-id-12- > * { max-width: 100%; }

#container-id-18- { left: 0px; flex-direction: row; }

#container-id-18- > * { max-width: 100%; }

#container-id-19- { flex-direction: row; }

#container-id-19- > * { max-width: 100%; }

#container-id-2- { padding: 24px 64px; left: 0px; flex-direction: column; display: flex; min-height: 206px; }

#container-id-2- > * { max-width: 100%; }

#container-id-21- { padding: 0px; flex-direction: row; }

#container-id-21- > * { flex-grow: 1; max-width: 100%; }

#container-id-3- { padding: 40px 64px; flex-direction: column; }

#container-id-3- > * { max-width: 100%; }

#container-id-4- { left: 0px; flex-direction: row; }

#container-id-4- > * { max-width: 100%; }

#container-id-43- { flex-direction: row; }

#container-id-43- > * { max-width: 100%; }

#container-id-5- { padding: 0px 64px; flex-direction: row; }

#container-id-5- > * { max-width: 100%; }

#container-id-7- { padding: 0px; flex-direction: row; }

#container-id-7- > * { flex-grow: 1; max-width: 100%; }

#container-id-8- { left: 0px; flex-direction: row; }

#container-id-8- > * { max-width: 100%; }

#content-container { flex-direction: column; display: flex; }

#content-container > * { max-width: 100%; }

#text-id-8- { letter-spacing: -0.769231px; line-height: 48.3333px; font-size: 40px; }}

@media (max-width:560px) {#container-id-0- { padding: 56px 24px; left: 0px; flex-direction: row; }

#container-id-0- > * { max-width: 100%; }

#container-id-10- { width: 100%; left: 0px; flex-direction: row; }

#container-id-10- > * { max-width: 100%; }

#container-id-12- { width: 100%; left: 0px; flex-direction: row; }

#container-id-12- > * { max-width: 100%; }

#container-id-18- { width: 100%; left: 0px; flex-direction: row; }

#container-id-18- > * { max-width: 100%; }

#container-id-19- { width: 100%; flex-direction: row; }

#container-id-19- > * { max-width: 100%; }

#container-id-2- { padding: 24px; left: 0px; flex-direction: column; }

#container-id-2- > * { max-width: 100%; }

#container-id-21- { flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 0px; }

#container-id-21- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-21- > :last-child, #container-id-21- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-3- { padding: 24px; flex-direction: column; }

#container-id-3- > * { max-width: 100%; }

#container-id-4- { left: 0px; flex-direction: row; }

#container-id-4- > * { max-width: 100%; }

#container-id-43- { flex-direction: row; }

#container-id-43- > * { max-width: 100%; }

#container-id-5- { padding: 32px 24px; flex-direction: column; justify-content: center; align-items: center; }

#container-id-5- > * { max-width: 100%; margin-right: 0px !important; }

#container-id-5- > :last-child, #container-id-5- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-7- { flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 0px; }

#container-id-7- > * { max-width: 100%; margin-right: 0px !important; margin-bottom: 20px !important; }

#container-id-7- > :last-child, #container-id-7- > .last-child { margin-right: 0px !important; margin-bottom: 0px !important; }

#container-id-8- { width: 100%; left: 0px; flex-direction: row; }

#container-id-8- > * { max-width: 100%; }

#content-container { flex-direction: column; display: flex; }

#content-container > * { max-width: 100%; }

#text-id-10- { letter-spacing: -0.36px; line-height: 21.6px; font-size: 18px; }

#text-id-6- { letter-spacing: 0px; line-height: 26.4px; font-size: 22px; }

#text-id-60- { letter-spacing: 0px; line-height: 15.75px; font-size: 14px; }

#text-id-8- { letter-spacing: -0.769231px; line-height: 43.6364px; font-size: 40px; }}