.heading {
    font-family: var(--font-primary);
    font-weight: 600;
    margin: 0;

    &--sm {
        font-size: 1.1rem;
        @include mq('xxs') {
            font-size: 1.25rem;
        }
    }

    &--normal {
        font-size: 1rem;
        @include mq('sm') {
            font-size: 1.25rem;
        }
    }

    &--lg {
        font-size: 1.5rem;
    }

    &--xl {
        font-size: 1.5rem;
        @include mq('sm') {
            font-size: 1.75rem;
        }
        @include mq('xl') {
            font-size: 2rem;
        }
    }

    &--xxl {
        font-size: 2rem;
        @include mq('sm') {
            font-size: 2.5rem;
        }
        @include mq('md') {
            font-size: 3rem;

        }
    }

    &--primary {
        color: var(--color-primary);
    }

    &--space-b {
        margin-bottom: 1rem;
    }
}

// Used for headings that contain more than just text.\
