.hero {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    &__name {
        font-size: 2rem;
        @include mq('sm') {
            font-size: 2.5rem;
        }
        @include mq('md') {
            font-size: 3rem;
        }
        margin-top: 0;
        margin-bottom: 1rem;
        font-weight: normal;
    }

    &__hand-emoji {
        display: inline-block;
        transform-origin: 85% 85% 0;
        cursor: default;
    }

    &__hand-emoji:hover {
        animation: wave 0.5s ease-in-out 0s 1;
    }


    &__description {
        width: 100%;
        @include mq('md') {
            width: 75%;
        }

        font-size: 1.5rem;
        @include mq('sm') {
            font-size: 2rem;
        }
        @include mq('md') {
            font-size: 2.5rem;
        }
        
        font-weight: normal;
    }
}
