.icon {
    height: 30px;
    width: 30px;
    display: inline-block;

    &--primary {
        fill: var(--color-primary);
    }

    &--xs {
        height: 20px;
        width: 20px;
    }

    &--small {
        height: 25px;
        width: 25px;
    }

    &--transition-fill {
        @include ts(fill, 200ms);
    }

    &--space-r {
        margin-right: 1rem;
    }

    &--secondary {
        color: var(--color-secondary);
    }
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0.5rem;
    border-radius: 50%;

    &--button {
        background-color: inherit;
        border: none;
    }
    
    &--primary {
        background-color: var(--color-primary);
    }

    &--rounded-normal {
        border-radius: 0.5rem;
    }

    &--transition {
        @include ts(background-color, 200ms);
    }

    &--hover {
        cursor: pointer;

        &:hover {
            background-color: var(--color-primary-light-opaque);
        }
    }
}
