.navbar {
    display: flex;

    &__hamburger {
        position: fixed; 
        top: 1rem;
        right: 1rem;
        width: 40px;
        height: 40px;
        background-color: white;
        padding: 0.25rem;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        transition: background-color 200ms ease-in-out;
        z-index: 10;
        box-shadow: 0px 0px 3px 1.5px rgb(191,216,255);
        &:hover {
            background-color: rgb(191,216,255);
        }
        @include mq('md') {
            visibility: hidden;
            pointer-events: none;
        }
    }

    &__backdrop {
        visibility: hidden;
        pointer-events: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        transition: visibility 200ms linear,
                    background-color 200ms ease-in-out;
                    
        &--active {
            pointer-events: all;
            visibility: visible;
            background-color: rgba(0, 0, 0, 0.5);

            @include mq('md') {
                visibility: hidden;
                pointer-events: none;
                background-color: rgba(0,0, 0, 0);
            }
        }
    }

    &--main {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        transform: translateX(100%);
        padding: 2rem;
        justify-content: flex-end;
        z-index: 10;
        transition: box-shadow 150ms ease-in-out,
                    transform 200ms ease-in-out;
        background-color: white;
        @supports (backdrop-filter: blur(7.5px)) {
            background-color: rgba(255, 255, 255, 0.8);
        }
        
        backdrop-filter: blur(7.5px);

        &__close {
            position: absolute;
            background-color: white;
            top: 1rem;
            right: 1rem;
            padding: 0.25rem;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            visibility: hidden;
            pointer-events: none;
            transition: background-color 200ms ease-in-out;
            
            box-shadow: 0px 0px 3px 1.5px rgb(191,216,255);

            &:hover {
                background-color: rgb(191,216,255);
            }

            &--opened {
                visibility: visible;
                pointer-events: all;
            }
        }

        &--mobile-active {
            width: 80%;
            @include mq('xxs') {
                width: 70%;
            }
            bottom: 0;
            justify-content: center;
            padding: 2rem;
            transform: translateX(0);
            backdrop-filter: none;
            background-color: white;

        }

        @include mq('md') {
            width: 100%;
            left: 0;
            bottom: auto;
            justify-content: flex-end;
            padding: 0rem 2rem;
            transform: translateX(0);
        }
    }

    &--scrolled {
        @include mq('md') {
            box-shadow: 0px 3px 6px 5px rgba(0, 0, 0, 0.1);

            & .navbar__items {
                transform: translateY(0);
            }
        }

    }
    
    &__items {
        list-style-type: none;
        display: flex;
        padding: 0;
        flex-direction: column;
        @include mq('md') {
            flex-direction: row;
        }

        &--vertical {
            flex-direction: column; 
        }

        &--main {
            @include mq('md') {
                transform: translateY(1rem);
                transition: transform 150ms ease-in-out;
            }
        }
    }

    &__item {
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: 500;
        font-family: var(--font-secondary);

        &--vertical {
            margin-right: 0;
            margin-bottom: 1rem;
        }


    
        &:last-child {
            margin-right: 0;
        }

        &--primary {
            background-color: var(--color-primary);
            border: none;
            
            &:hover {
                background-color: var(--color-primary-dark);
            }

            & .navbar__link {
                color: var(--color-secondary);
            }

            & .navbar__icon {
                fill: var(--color-secondary);
            }
        }

        &--main {
            margin-bottom: 2rem;

            @include mq('md') {
                margin: 0 2rem 0 0;
            }

            &:last-child {
                margin: 0;
            }
        }

        &--my-links {
            margin-bottom: 2rem;
            @include mq('sm') {
                margin: 0 2rem 0 0;
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        padding: 0.75rem 1.25rem;
        border-radius: 0.5rem;
        border: 3px solid var(--color-primary);
        transition: background-color 200ms ease-in-out,
                    color 200ms ease-in-out;

        &:hover {
            background-color: var(--color-primary);
            color: var(--color-secondary);
        }

        &:hover .navbar__icon {
            fill: var(--color-secondary);
            color: var(--color-secondary);
        }
    }

    &__icon {
        margin-right: 0.75rem;
        transition: fill 200ms ease-in-out,
                    color 200ms ease-in-out;
        color: black;
    }
}