.not-found {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__404 {
        margin-bottom: 1rem;
        font-size: 10rem;
        color: var(--color-primary);
    }

    &__description {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    &__link {
        padding: 0.5rem 1rem;
        margin-top: 0.5rem;
        font-family: var(--font-secondary);
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: none;
        color: black;
        border: 3px solid var(--color-primary);
        border-radius: 0.5rem;
        transition: color 200ms ease-in-out,
                    background-color 200ms ease-in-out;
        
        &:hover {
            color: var(--color-secondary);
            background-color: var(--color-primary);
        }
    }

}