<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://storage.googleapis.com/thunkable-x-production-ipas/users/5e4d161edd008dc1757daa7d/projects/606896731fd974001111d78f/ipas/6293cccc-20fd-4252-b5a8-ff2b5cd40435/thunkablecompanion.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.thunkable.testapp1</string>
				<key>bundle-version</key>
				<string>6.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Babyyoda777</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
