
:root{
  --bg: black;
  --color: white;
  --hover: grey;
  --mail: url(img/mail.svg);
  transition: 0.3s;
}

@media (prefers-color-scheme: dark) {
  [data-theme="dark"] {
    --bg: black;
    --color: white;
    --mail: url(img/mail.png);
    transition: 0.3s;
  }
}

[data-theme="dark"] {
  --bg: white;
  --color: black;
  --mail: url(img/mail.png);
  transition: 0.3s;
}

body{
  max-width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: var(--bg);
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
*{
  scroll-behavior: smooth;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1{
  color: var(--color);
    font-size: 48px;
}

h2{
  color: var(--color);
}

h3{
  color: var(--color);
  font-weight: 500;
  line-height: 35px;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1rem;
    font-weight: 500;
    color: var(--color);
    margin-left: -30px;
}

.nav-link:hover{
    transition: 0.3s;
    color: var(--hover);
}

.nav-logo {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color);
    padding-bottom: 0px;
    float: right;
    padding-left: 10px;
}




@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -115%;
        height: 90%;
        justify-content: space-evenly;
        top: 5rem;
        flex-direction: column;
        background-color: var(--bg);
        z-index: 1000;
        padding: 0;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin-left: 2.5rem ;
    }

    .nav-link{
      font-size: 30px;
    }

    .nav-logo{
      font-size: 1rem;
      padding: 0;
      margin-left: -30px;
    }

    .hamburger {
      margin-right: -30px;
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

}


.hero{
  height: calc(100vh - 3rem);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 840px;
margin-right: auto;
margin-left: auto;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
text-align: center;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 90%;
  left:2%;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mail{
  content: var(--mail);
}

.avatar{
  display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
width: 160px;
height: 160px;
margin-top: -0px;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
border-radius: 100px;
background-color: #eaf9fa;
}


.typed-headline {
	white-space: nowrap;
	text-align: left;
	font-size: 72px;
  color: var(--color);
  z-index: 10;
    font-family: 'Poppins', sans-serif;
}
.typed-headline::after {
	content: "|";
	display: inline;
	animation: blink 1s infinite;
	margin-left: -10px;
  z-index: 10;
}
@media screen and (max-width: 991px) {
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 40px;
	}

	p {
		font-size: 18px;
	}

	.button {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}
@media screen and (max-width: 767px) {
	h1 {
		font-size: 52px;
	}

	h5 {
		font-size: 16px;
	}
}
@media screen and (max-width: 479px) {
    .avatar{
        margin-top: -150px;
    }
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 32px;
	}

	.typed-headline {
		font-size: 35.5px;
		margin-left: 0px;
	}
}
@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#aboutme{
  padding: 10px;
}

.title {
    background: linear-gradient(
90deg
, hsla(0, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 20%);
    color: #B664B0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-size: 30px!important;
    font-weight: bold;
}

.title1 {
    background: linear-gradient(
            90deg
            , hsla(0, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 20%);
    color: #B664B0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-weight: bold;
}

#contact{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.title2{
  background: linear-gradient(
90deg
, hsla(160, 100%, 40%, 1) 0%, hsla(82, 100%, 50%, 1) 100%);
    color: #B664B0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
        font-size: 30px!important;
            font-weight: bold;
}

.title3{
    background: linear-gradient(
            90deg
            , hsla(160, 100%, 40%, 1) 0%, hsla(82, 100%, 50%, 1) 100%);
    color: #B664B0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-weight: bold;
}

.ches {
    max-width: 3px;
    height: 50%;
    height: 50%;
    position: absolute;
    background: linear-gradient(
180deg
, hsla(0, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    padding: 3px;
    margin-left: 0px;
}

.ches2 {
    max-width: 3px;
    height: 50%;
    position: absolute;
    background: linear-gradient(
  180deg
  , hsla(160, 100%, 40%, 1) 0%, hsla(82, 100%, 50%, 1) 100%);
    padding: 3px;
    margin-left: 0px;
}

.showcase{
  display: block;
margin-left: auto;
margin-right: auto;
max-height: 400px;
padding-left: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

section{
  min-height: calc(100vh - 3rem);
}

.project{
  margin-bottom: 100px;
}

.description{
  margin-left: 15px;
  margin-right: auto;
}

.repo{
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(2,minmax(0,1fr));
    display:grid;
    justify-items: stretch;
    min-height: 100px;
}

.cydia{
  background-color: rgba(154,52,18,0.25);
  border-radius: 0.5rem;
    color: var(--color);
    align-items: center;
    justify-content: center;
    display: grid;
}

.cydia:hover{
  background-color: rgba(154,52,18,1);
  border-radius: 0.5rem;
  transition-duration: .15s;
    transition-duration: var(--animation-duration,.15s);
    transition-property: background-color,color,border-color,box-shadow,transform;
    transition-timing-function: cubic-bezier(.11,.43,.63,.9);
    transition-timing-function: var(--animation-timing-function,ease);
}


.installer{
  background-color: rgba(16,45,185,0.25);
  border-radius: 0.5rem;
    color: var(--color);
    align-items: center;
    justify-content: center;
    display: flex;
}

.installer:hover{
  background-color: rgba(16,45,185,1);
  border-radius: 0.5rem;
  transition-duration: .15s;
    transition-duration: var(--animation-duration,.15s);
    transition-property: background-color,color,border-color,box-shadow,transform;
    transition-timing-function: cubic-bezier(.11,.43,.63,.9);
    transition-timing-function: var(--animation-timing-function,ease);
}

.zebra{
  background-color: rgba(194,2,245,0.25);
  border-radius: 0.5rem;
    color: var(--color);
    align-items: center;
    justify-content: center;
    display: flex;
}

.zebra:hover{
  background-color: rgba(194,2,245,1);
  border-radius: 0.5rem;
  transition-duration: .15s;
    transition-duration: var(--animation-duration,.15s);
    transition-property: background-color,color,border-color,box-shadow,transform;
    transition-timing-function: cubic-bezier(.11,.43,.63,.9);
    transition-timing-function: var(--animation-timing-function,ease);
}

.sileo{
  background-color: rgba(18,142,154,0.25);
  border-radius: 0.5rem;
    color: var(--color);
    align-items: center;
    justify-content: center;
    display: flex;
}

.sileo:hover{
  background-color: rgba(18,142,154,1);
  border-radius: 0.5rem;
  transition-duration: .15s;
    transition-duration: var(--animation-duration,.15s);
    transition-property: background-color,color,border-color,box-shadow,transform;
    transition-timing-function: cubic-bezier(.11,.43,.63,.9);
    transition-timing-function: var(--animation-timing-function,ease);
}
