* {
  transition: background-color 0.6s ease, color 0.05s ease;
}

html{
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  padding-left: 5px;
  padding-right: 5px;
  scroll-behavior: smooth;
  --color: black;
  --color-highlight: grey;
  ---shadow: #b664b0;
  overflow-x: hidden;
  width: 100%;
}

#navbar{
  overflow:hidden;
  position:sticky;
}

#aboutme{

}

.me{
  display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1000px;
    background-color: lightblue;
}

.work{
  display: block;
    margin-left: auto;
    margin-right: auto;
}

#typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .05em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */ /* Adjust as needed */
  animation:
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 1000px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--color); }
}


grad{
  background: linear-gradient(135deg, #6699FF 0%, #FF3366 100%);
  color: #B664B0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}




.title{
  background: linear-gradient(90deg, hsla(0, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 20%);
  color: #B664B0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.title2{
  background: linear-gradient(90deg, hsla(160, 100%, 40%, 1) 0%, hsla(82, 100%, 50%, 1) 100%);
  color: #B664B0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.hero{
  text-align: center;
  justify-content: center;
  position: relative;
  padding-top: -80px;;
  width: 100%;
  clear:both;
  min-width: 220px;
  margin: auto;
  font-size: 55px;
  margin-bottom: 100px;
  max-width: 1000px;

}

.dmode{
  font-size: 20px;
}

/* ------------ ☀️ / 🌒 Switch Toggle ------------ */
.toggle {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 25px;
    font-size: 150%;
    z-index: 10;
}

.toggle:before {
    content: '🌞';
}

.toggle.active:before {
    content: '🌙';
}

.toggle.animate {
    animation: animate .3s cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: 0.05s ease;
}
.dark-mode {
  background-color: black;
  color: white;
  --color: white;
}

nav{
  display:inline;
  justify-content: center;
  margin-top: -10px;
  background-color: var(--nav);
}

a{
  list-style-type: none;
  color: var(--color);
  text-decoration: none;
  transition: color 0.2s ease,color 0.2s ease;
}

a:hover{
  list-style-type: none;
  color: var(--color-highlight);
  text-decoration: none;
  transition: color 0.2s ease-out,color 0.2s ease-out;
  transition: background 0.2s ease-out,background 0.2s ease-out;
}

p{
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;
  padding-left: 40px;
}

ul{
  list-style-type: none;
  padding-bottom: 125px;
}

li{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.button{
  color: #ffffff;
    box-shadow: 0 10px 20px -10px var(---shadow);
    background: linear-gradient(135deg, #6699FF 0%, #FF3366 100%);
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    font-size: 30px;
    color:var(--color);
    transition: background 0.2s ease,background 0.2s ease,box-shadow 0.2s ease;

}

.button:hover{
      background: linear-gradient(90deg, hsla(220, 60%, 58%, 1) 0%, hsla(345, 72%, 52%, 1) 100%);
      color: var(--color);
      transition: background 0.2s ease,background 0.2s ease,box-shadow 0.2s ease;
}

.breaker{
  border-left: 6px solid var(--color);
  height:150px;
  position:absolute;
  margin-left: 0px;

}

article{
  margin-bottom: 100px;
}

.ches{
  max-width: 3px;
  min-height: 150px;
  position: absolute;
  background: linear-gradient(180deg, hsla(0, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
  padding: 3px;
  margin-left: 0px;
}


.clean{
  max-width: 3px;
  min-height: 150px;
  position: absolute;
  background: linear-gradient(180deg, hsla(160, 100%, 40%, 1) 0%, hsla(82, 100%, 50%, 1) 100%);
  padding: 3px;
  margin-left: 0px;
}


.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

.icon{
  transition: fill .2s ease-in-out;
  height:35px;
  width: 35px;
  display: block;
  position: absolute;
  padding-left: 40px;
}

.icon:hover{
  transition: fill .2s ease-in-out;
  height:35px;
  width: 35px;
  display: block;
  position: absolute;
  padding-left: 40px;
  color: lightblue;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}



#menuToggle
{
  display: block;
  position: relative;
  z-index: 1;
  margin-bottom: -100px;
  -webkit-user-select: none;
  user-select: none;
  padding-left: 10px;
  padding-top: 10px;
}

#menuToggle a
{
  text-decoration: none;
  color: var(--color);

  transition: color 0.3s ease;
  padding-left: 40px;
}

#menuToggle a:hover
{
  color: grey;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}



/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #black;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: relative;
  width: 700px;
  margin-left: -10px;
  padding-top:0px;

  background: ;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 37px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
