@mixin ts($prop, $duration, $func: ease-in-out) {
    transition: $prop $duration $func;
}

@mixin mq($value, $type: min, $dimension: width) {
    @if map_has_key($breakpoints, $value) {
        $value: map_get($breakpoints, $value);
        @if $type == max {
            $value: $value - 1px;
        }
        @media only screen and (#{$type}-#{$dimension}: $value) {
            @content;
        }
    }
}

