.section-layout {
    margin: 0 auto;
    padding: 3rem 0.75rem 0;
    @include mq('sm') {
        padding: 3rem 1.5rem 0;
    }
    @include mq('md') {
        padding: 5.5rem 3rem 0;
    }
    @include mq('lg') {
        padding: 5.5rem 5rem 0;
    }

    &:last-child {
        padding-top: 1rem;
    }

    max-width: 1400px;

    &:first-child {
        margin-top: 0;
    }

    &:only-of-type {
        margin: 0;
        padding: 0;
    }


    &__header {
        display: flex;
        flex-direction: column;
        text-align: center;
        @include mq('xs') {
            flex-direction: row;
            text-align: left;
        }
        align-items: center;

        &-icon {
            margin-bottom: 1rem;
            @include mq('xs') {
                margin: 0 2rem 0 0;
            }
        }
    }



    &__body {
        position: relative;
        @include mq('md') {
            padding-left: calc(30px + 1.75rem);
        }
        margin-top: 2rem;
        @include mq('md') {
            margin-left: 1.25rem;
        }
    
        &::before {
            content: '';
            display: none;
            @include mq('md') {
                display: block;
            }
            position: absolute;
            top: 0;
            left: 0;
            height: 300px;
            border-left: 4px solid var(--color-primary);
        }

        &--short::before {
            height: 200px;
        }
    }
}