.links-body {
    text-align: center;
    @include mq('sm') {
        text-align: left;
    }
    &__spaced-heading {
        margin-bottom: 1rem;
    }
    
    &__sub-text {
        margin-top: 0.25rem;
        font-weight: 600;
        color: var(--color-primary);
    }

    &__links {
        flex-direction: column;
        @include mq('sm') {
            flex-direction: row;
        }
    }

    &__nav-wrapper {
        justify-content: center;
        @include mq('sm') {
            justify-content: start;
        }
    }
}