:root {
    --color-primary: #0062FF;
    --color-primary-light: #3769FF;
    --color-primary-lighter: rgb(55, 105, 255, 0.5);
    --color-primary-light-opaque: rgb(0, 98, 255, 0.25);
    --color-primary-dark: #005BED;
    --color-secondary: #FFFFFF;
    --color-gray: #DDDDDD;
}