.mt-0 {
    margin-top: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mb-2 {
    margin-bottom: 1rem;
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}